/* Universal */
html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: black;
  color: white;
}

/*  Header  */
header {
margin: 0.66rem auto;
font-size: 1rem;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
/*  New Arrival Section  */
#new {
  
}

/*  NAV bar  */


/*  Assorted Items Section  */
#items {
  background-color: white;
}

/*  Footer  */
footer {
  text-align: left;
  height: 5rem;
}

/*  Media Queries Medium  */


/*  Media Queries Small  */
@@media screen only and (max-width: ){
  footer {
    text-align: center;
  }
}
