/* Universal */
html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: black;
  color: white;
}

/*  Header  */
header {
margin: 0.66rem auto;
font-size: 1rem;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
/*  New Arrival Section  */
#new {
  height: 25rem;
  background-image: URL('./media/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.new-arrival {
  margin-top: 9rem;
  width: 20rem;
}

.new-arrival p {
  left: 3rem;
  font-weight: bold;
}

.new-arrival .one p {
  margin-top: 2rem;
  font-size: 1rem;
}

.new-arrival .two p {
  margin-top: 0.25rem;
  font-size: 2rem;
}
/*  NAV bar  */
nav {
  background-color: firebrick;
}

nav a {
    margin: 0.75rem auto;
    color: white;
}

/*  Assorted Items Section  */
#items {
  background-color: white;
}

/*  Footer  */
footer {
  text-align: left;
  height: 5rem;
}

/*  Media Queries Medium  */


/*  Media Queries Small  */
@@media screen only and (max-width: ){
  footer {
    text-align: center;
  }
}
